In [9]:
%run Initialization.ipynb
from scipy import stats

Wed Apr  8 21:48:19 JST 2020
Running with PyMC3 version v.3.8
3.6.10 |Anaconda, Inc.| (default, Mar 23 2020, 23:13:11)
[GCC 7.3.0]
The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [11]:
DATADIR = "data_for_sims"
stansimsdir = "../../../Hokkaido_Backup/TokyoEOC_cats"
dirs = !ls "{stansimsdir}"
dirs

['20200408-R0']

In [12]:
%%time
folder = dirs[0]
print(colored(folder, 'red'))
posterior_glob = !cd "{stansimsdir}/{folder}"; ls trace-*
print(colored(posterior_glob,'blue'))
cmdstan_data = az.from_cmdstan(posterior = [stansimsdir+"/"+folder+"/"+x for x in posterior_glob])

20200408-R0
['trace-1.csv', 'trace-2.csv', 'trace-3.csv', 'trace-4.csv', 'trace-5.csv']
CPU times: user 87.1 ms, sys: 15.9 ms, total: 103 ms
Wall time: 117 ms

In [13]:
cmdstan_stats = get_stats(cmdstan_data.posterior.drop('theta'))
cmdstan_stats

,var,time,mean,hpd2.5,hpd25,hpd75,hpd97.5,q2.5,q25,median,q75,q97.5,ess_bulk,ess_tail,r_hat
0,z,NA,0.154,0.088,0.126,0.171,0.225,0.092,0.130,0.152,0.176,0.231,3267.0,3588.0,1.0
1,R0,NA,1.087,1.046,1.069,1.097,1.132,1.049,1.071,1.085,1.100,1.137,3267.0,3588.0,1.0
2,p,NA,0.079,0.045,0.064,0.088,0.117,0.047,0.066,0.078,0.091,0.121,3267.0,3588.0,1.0